/* Variables */
:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;
  --main-font: 'Raleway', sans serif;
  --main-font-color: black;
}

/* General Layout */
body {
  margin-left: 3rem;
  margin-right: 3rem;
}

.flex-container {
  display: flex;
  align-items: center;
}

.grey-container {
  background-color: var(--grey);
  border-radius: 1vh;
  padding: 2rem;
  width: fit-content;
}

.white-item {
  align-content: space-between;
  display: inline-flex;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-radius: 1vh;
}

/* Navbar */
.menu {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.menu-logo {
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  border-top: solid transparent;
}

.nav-item:hover {
  color: var(--blue);
  border-top: solid var(--blue);
}

.static {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.static:hover {
  color: var(--blue);
}

a {
  text-decoration: none;
}

/* Filters */

.filters {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
}

.filters-items {
  display: flex;
  border: 2px solid var(--grey);
  border-radius: 100px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.filters-icons {
  color: var(--blue);
  border: 1px solid var(--light-blue);
  background-color: var(--light-blue);
  border-radius: 100px;
  padding: 1rem;
}

.filters-icons:hover {
  background-color: var(--blue);
  color: var(--light-blue);
}

.filters-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

/* Typography */
body {
  font-family: var(--main-font);
}

/* Headings */
h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  padding-left: 1rem;
}

/* Objects*/
.searchbar {
  display: flex;
  align-items: center;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: var(--grey);
  width: fit-content;
  height: 2.5rem;
}

.searchbar-icon {
  text-align: center;
  background-color: var(--grey);
  border-radius: 10px 0 0 10px;
  width: 2.5rem;
}

.searchbar-button:hover {
  background-color: var(--light-blue);
  color: var(--blue);
}

.searchbar-input {
  border: none;
  font-family: var(--main-font);
  background-color: white;
  font-weight: bold;
  height: inherit;
  padding-inline-start: 1rem;
}

.searchbar-button {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--blue);
  font-family: var(--main-font);
  font-weight: bold;
  color: white;
  height: inherit;
}

.info-icon {
  color: var(--blue);
  border: 1px solid var(--grey);
  border-radius: 100px;
  width: 16px;
  height: 16px;
  padding: 0.5%;
  text-align: center;
  float: left;
}
 
/* Images */
.accomodation-block {
  height: 10rem;
}
