/* Variables */
:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;
  --main-font: 'Raleway', sans serif;
  --main-font-color: black;
}
/* General Layout */
body {
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Div */
div {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.flex-container {
  display: inline-flex;
}
.item {
  display: flex;
  background-color: var(--grey);
  border-radius: 1vh;
}

.white-item {
  display: flex;
  background-color: white;
  border-radius: 1vh;
}

/* Navbar */
.menu {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  
}
.menu-logo {
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav-item:hover {
  color: var(--blue);
  border-top: solid var(--blue);
}

.static {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.static:hover {
  color: var(--blue);
}

a {
  text-decoration: none;
}

/* Filters */

.filters {
  display: inline-flex;
  float: left;
  list-style-type: none;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0;
}
.filters-items {
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Typography */
body {
  font-family: var(--main-font);
}

/* Headings */
h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  padding-left: 1rem;
}
/* Objects*/


